.select-pic {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

button {
    width: 80%;
    border: none;
    color: white;
    background-color: black;
    padding: 4px;
    font-size: 18px;
    font-family: 'IM Fell DW Pica SC', serif;
}

button:hover, button:focus {
    background-color: #383838;
    outline: none;
}